.header-container {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.content-container {
    padding-top: 75px;
}

@media (max-width: 700px) {
    .content-container {
        padding-top: 105px;
    }
}