@use '../public/scss/mat-override.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
  background-color: #fd6212c7;
  margin: 0;
}